[submodule "themes/startbootstrap-clean-blog"]
	path = themes/startbootstrap-clean-blog
	url = https://github.com/leedsdevops/startbootstrap-clean-blog.git
[submodule "public"]
	path = public
	url = https://github.com/leedsdevops/leedsdevops.github.io.git
	branch = master
